@model MVC.Models.Presupuesto

@{
    ViewData["Title"] = "Detalles del Presupuesto";
}

<h2 class="mt-4">Detalles del Presupuesto Nro. @Html.DisplayFor(model => model.IdPresupuesto)</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.NombreDestinatario)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.NombreDestinatario)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FechaCreacion)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.FechaCreacion)</dd>
        
        <dt class="col-sm-3">Monto Total (sin IVA)</dt>
        <dd class="col-sm-9">$ @Model.MontoPresupuesto().ToString("N2")</dd>
        
        <dt class="col-sm-3">Monto Total (con IVA)</dt>
        <dd class="col-sm-9 text-success">$ @Model.MontoPresupuestoConIva().ToString("N2")</dd>
        
        <dt class="col-sm-3">Unidades de Productos</dt>
        <dd class="col-sm-9">@Model.CantidadProductos() unidades</dd>
    </dl>
</div>

<h4 class="mt-4">Productos Incluidos</h4>

<p>
    <a asp-action="AgregarProducto" asp-route-id="@Model.IdPresupuesto" class="btn btn-sm btn-info">
        Añadir Producto
    </a>
</p>

@if (Model.Detalle.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio Unitario</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detalle in Model.Detalle)
            {
                <tr>
                    <td>@detalle.Producto.Descripcion</td>
                    <td>$ @detalle.Producto.Precio.ToString("N2")</td>
                    <td>@detalle.Cantidad</td>
                    <td>$ @(detalle.Producto.Precio * detalle.Cantidad).ToString("N2")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Este presupuesto no contiene productos aún.</p>
}

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.IdPresupuesto">Editar Presupuesto</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>